<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Compras efetuadas</title>
  </head>

  <style>
    h1 {
      color: rgb(26, 26, 118);
      background-color: rgb(69, 222, 45);
    }
    p1 {
      color: rgb(26, 26, 118);
      background-color: rgb(139, 186, 29);
    }
  </style>

  <body>
    <h1>VOCE EFETUOU UMA COMPRA COM SUCESSO</h1>
    <p1> Id do comprador: {{cliente_id }}</p1>
    <br />
    <p1> Campo de observacao: {{observacao}}</p1>
    <br />
    <p1> Valor total da compra: {{valor_total}}</p1>
  </body>
</html>
